<%= form_with model: @vendor_sweet do |f|%>
  <%= f.hidden_field :vendor_id, value: @vendor.id %>
  <%= f.label :sweet_id %>
  <br>
  <%= f.collection_select :sweet_id, @sweets, :id, :name %>
  <div>
    <%= f.label :comment %>
    <br>
    <%= f.text_field :comment %>
  </div>
  <%= f.submit %>
<% end %>
